html,
body {
  overflow-x: hidden;
}

body, #new-color, .color-info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

nav, h1, h2 {
    font-family: 'Bagel Fat One', cursive;
    letter-spacing: .1rem;
}

.header {
    font-size: calc(40px + (70 - 40) * ((100vw - 200px) / (1440 - 200)));
}

#scheme-container{
    gap: 10px;
}

.color-result {
    height: calc(80px + (110 - 80) * ((100vw - 200px) / (1440 - 200)));
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#results-column {
    transition: .15s;
    transform: scale(0);
}

.color-info {
    font-size: calc(25px + (30 - 25) * ((100vw - 200px) / (1440 - 200)));
    transform: scale(0);
    transition: .15s;
}

span {
    display: block;
}

footer {
    font-size: 12px
}

#portfolio-link {
    color: inherit !important;
}

